In [1]:
import pandas as pd
from scipy import stats

In [2]:
data = pd.read_excel('Задание.xlsx', index_col='id_ds')

In [3]:
data.head()

                city  salary
id_ds
1      St.Petersburg      93
2                 RU      55
3             Moscow     361
4             Moscow     161
5      St.Petersburg     217

In [4]:
unique_cities = list(data['city'].unique())
unique_cities

['St.Petersburg', 'RU', 'Moscow', 'West', 'exCCCP']

In [5]:
def trim_mean(city):
    city_df = data.loc[data['city']==city, ['salary']].sort_values(by='salary')
    city_trim_mean = stats.trim_mean(city_df, proportiontocut=0.2, axis=0)
    print(f'{city}: trimmed mean {city_trim_mean[0]:.5}')

## Решение с применением итератора

In [6]:
cities_iterator = iter(unique_cities)
trim_mean(next(cities_iterator))
trim_mean(next(cities_iterator))
trim_mean(next(cities_iterator))
trim_mean(next(cities_iterator))
trim_mean(next(cities_iterator))

St.Petersburg: trimmed mean 105.18
RU: trimmed mean 119.61
Moscow: trimmed mean 197.25
West: trimmed mean 360.67
exCCCP: trimmed mean 106.02

## Решение с применением map и apply

In [7]:
def apply_func(city):
    city_df = data.loc[data['city']==city, ['salary']].sort_values(by='salary')
    apply_trim_mean = city_df.apply(lambda data: stats.trim_mean(data, proportiontocut=0.2, axis=0))[0]
    return apply_trim_mean

In [8]:
mean_map = map(apply_func, unique_cities)
dict(zip(unique_cities, map(lambda x: round(x, 2), mean_map)))

{'St.Petersburg': 105.18,
 'RU': 119.61,
 'Moscow': 197.25,
 'West': 360.67,
 'exCCCP': 106.02}

## Решение с применением рекурсии

In [9]:
def loopless_trim_mean(cities_list):
    if cities_list:
        city = cities_list.pop()
        loopless_trim_mean(cities_list)
        trim_mean(city)
    else:
        return 1

In [10]:
loopless_trim_mean(unique_cities)

St.Petersburg: trimmed mean 105.18
RU: trimmed mean 119.61
Moscow: trimmed mean 197.25
West: trimmed mean 360.67
exCCCP: trimmed mean 106.02